:root {
    --primary-color: #191a15;
    --primary-light: rgba(25, 26, 21, 0.2);
    --secondary-color: #fbfbfb;
    --accent-color: #54be96;
    --accent-color-hover: #36A379;
    --accent-light: rgba(84, 190, 150, 0.2);
    --background-color: #fbfbfb;

    --accent-color-blue: #3470ff;
    --accent-light-blue: rgba(52, 112, 255, 0.2);

    --accent-color-orange: #fc832c;
    --accent-light-orange: rgba(252, 131, 44, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 128px;
    padding-right: 128px;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}
